* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

nav{
  display: inline-block;
  width: 100%;
  height: 2rem ;
  margin: 3.5rem;
  text-align: center;
  /* background-color: teal; */
}


header {
  background: #f0293e;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 2em;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
}
.room button {
  position: absolute;
  top: 0;
  right: 20px;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remote-participants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}

.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 600px;
}

#card-image-container {
  width: 400px;
  height: 400px;
}

#card-image-container img {
  max-width: 100%;
  max-height: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#attendee{
  text-align: left;
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
}

.user-greeting {
  font-weight: 100;
  color: turquoise;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 10px solid rgb(79, 98, 148);
}

.form-inputs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid turquoise;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.required {
  color: #bf1650;

}

.user-labels {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}

.connection-meeting-options{
  display: grid;
  grid-row: 1fr;
  grid-column: auto;
}

#user-profile{
  text-align: center;
}

#upper-user-div {
  width: 500px;
  border: 15px solid rgb(0, 119, 128);
  padding: 30px;
  margin: 50px;
}

#user-profile-info {
  width: 500px;
  border: 15px solid rgb(0, 109, 128);
  padding: 50px;
  margin: 50px;
}

.listed-items > ul{
  text-align: left;
  text-indent: 1rem;
}.listed-items{
  text-align: left;
}

.user-update {
  max-width: 500px;
  margin: 0 auto;
}

.profile-greeting {
  font-weight: 100;
  color: turquoise;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 10px solid rgb(79, 98, 148);
}

.update-inputs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid turquoise;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.update-labels {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(0, 109, 128);
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
}