* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

nav {
  display: inline-block;
  width: 100%;
  height: 2rem;
  margin: 3.5rem;
  text-align: center;
  /* background-color: teal; */
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 2em;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
}

/* form {
  max-width: 300px;
  margin: 0 auto;
} */

.singleMessage {
  color: white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0.5rem 1rem;
  overflow-wrap: break-word;
  padding: 0.5rem 0.5rem;
  width: 280px;
}

.incoming {
  background-color: #3a506b;
}

.outgoing {
  background-color: #66b3ba;
  text-align: right;
  margin-left: auto;
  margin-right: 0.5rem;
}

#chat {
  width: 600px;
  max-width: 600px;
}

#chat-view {
  max-height: 400px;
  width: 100%;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-y: auto;
}

#chat-input {
  width: 600px;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3); */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#chat-input input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logoutButton {
  align-self: baseline;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
  flex-direction: row;
  flex-grow: 3;
}
.remote-participants {
  padding: 0 2em 2em;
  flex-direction: column;
  flex-grow: 1;
}
.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

.audio-button-icon {
  align-self: baseline;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}

.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 600px;
}

#card-image-container {
  width: 400px;
  height: 400px;
}

#card-image-container img {
  max-width: 100%;
  max-height: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#attendee {
  text-align: left;
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
}

.user-greeting {
  font-weight: 100;
  color: turquoise;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 10px solid rgb(79, 98, 148);
}

.form-inputs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid turquoise;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.required {
  color: #bf1650;
}

.user-labels {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}
