* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

nav {
  display: inline-block;
  width: 100%;
  height: 2rem;
  margin: 3.5rem;
  text-align: center;
  /* background-color: teal; */
}

/* header {
  background: #f0293e;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 2em;
} */

/* nav a {
  display: inline-block;
  margin: 1em;
} */
/*
h1 {
  font-weight: 300;
  padding: 0.4em 0;
} */

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('network.jpg');
}

main {
  background: #ffffff;
  flex-grow: 1;
}

/* form {
  max-width: 300px;
  margin: 0 auto;
} */

.singleMessage {
  color: white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0.5rem 1rem;
  overflow-wrap: break-word;
  padding: 0.5rem 0.5rem;
  width: 280px;
}

.incoming {
  background-color: #3a506b;
}

.outgoing {
  background-color: #66b3ba;
  text-align: right;
  margin-left: auto;
  margin-right: 0.5rem;
}

#chat {
  width: 100%;
}

#chat-view {
  max-height: 400px;
  width: 100%;
  min-height: 400px;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3); */
  /* border-top-left-radius: 5px; */
  /* border-top-right-radius: 5px; */
  overflow-y: auto;
}

#chat-input {
  width: 100%;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  margin-top: 0.2rem;
}

#chat-input input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logoutButton {
  align-self: baseline;
  margin-top: 1em;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
  flex-direction: row;
  flex-grow: 3;
}
.remote-participants {
  padding: 0 2em 2em;
  flex-direction: column;
  flex-grow: 1;
}
.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

.audio-button-icon {
  align-self: baseline;
  margin-top: 1em;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}

.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 700px;
  max-width: 414px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: auto;
  background-color: white;
}

#no-users {
  background-color: white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
}

.match-card-header {
  text-align: center;
  margin-top: 0.5rem;
}

.match-card-content {
  padding: 1rem;
  overflow-y: auto;
}

.button {
  padding: 0.5rem;
  background-color: #66b3ba;
  color: white;
  border: none;
  font-size: 14pt;
}

.button:hover {
  background-color: #42cafd;
  transition: 300ms;
  cursor: pointer;
}

.match-card-button {
  width: 100%;
}

#skip {
  background-color: #3a506b;
}

#skip:hover {
  background-color: #42cafd;
  transition: 300ms;
}

.match-card-controls {
  width: 100%;
}

#card-image-container {
  width: 414px;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-image-container img {
  max-width: 100%;
  max-height: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15rem solid black;
}

#navbar-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 2rem;
}

.navbar-link {
  margin: auto 1rem;
}

.navbar-link:hover {
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  min-height: 100%;
  height: 100%;
}

#attendee {
  text-align: left;
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
}

.user-greeting {
  font-weight: 100;
  color: turquoise;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 10px solid rgb(79, 98, 148);
}

.form-inputs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid turquoise;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.required {
  color: #bf1650;
}

.user-labels {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}

#calendar {
  margin: 5rem 5rem;
  max-height: 80%;
  max-width: 90%;
  background-color: white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* #logo {
  border-left: ;
} */

#logo:hover {
  cursor: pointer;
}

.connection {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 2rem;
  width: 40rem;
  background-color: white;
}

.connection-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chat-button {
  background-color: #3a506b;
  width: 100%;
  border-radius: 0;
}

#video-button {
  width: 100%;
  border-radius: 0;
}

#meeting-button {
  width: 100%;
  border-radius: 0;
}

#chat-button:hover {
  background-color: #42cafd;
  transition: 300ms;
}

.connection-img-container {
  height: 200px;
  width: 200px;
  min-width: 200px;
  border-top-left-radius: 5px;
}

.connection-img-container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.connection-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-right-radius: 5px;
}

.connection-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#matching-interface {
  margin: auto auto;
}

.swal-footer {
  text-align: center;
}
.connection-meeting-options {
  display: grid;
  grid-row: 1fr;
  grid-column: auto;
}

#user-profile {
  text-align: center;
}

#upper-user-div {
  width: 500px;
  border: 15px solid rgb(0, 119, 128);
  padding: 30px;
  margin: 50px;
}

#user-profile-info {
  width: 500px;
  border: 15px solid rgb(0, 109, 128);
  padding: 50px;
  margin: 50px;
}

.listed-items > ul {
  text-align: left;
  text-indent: 1rem;
}
.listed-items {
  text-align: left;
}

.user-update {
  max-width: 500px;
  margin: 0 auto;
}

.profile-greeting {
  font-weight: 100;
  color: turquoise;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 10px solid rgb(79, 98, 148);
}

.update-inputs {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid turquoise;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.update-labels {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(0, 109, 128);
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
}

#connections-header {
  background-color: white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
}
