
.sidebar {
  background-color:white;
  color:black;
  z-index: 2;
  width:23%
}

.sidebar-header {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid gray;
  color:black;
}

.delete-button{
  background-color: rgb(211, 19, 19);
}

.accept-button{
  background-color: green;
}
.meeting{
  border: 1px solid rgba(158, 154, 154, 0.932);
  background-color: rgba(158, 154, 154, 0.932);
  color:white;
  border-radius: .5rem;
  padding:1px
}


.upcoming-meeting{
  border: 1px solid navy;
  border-radius: .5rem;
  padding:1px
}
.meeting-list{
  margin-top: 1rem;
}
.fullcalendar{
  width:77%
}
.sidebar-header h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.1rem; 
}

.calendar{
  display: flex;
  height:100%;
  align-items: flex-start;
  background-color: white;
}